<div class="container">
  <div class="login-container">
    <div class="row">
      <div class="col-md-6 login-form">
<form [formGroup]="homeForm" (ngSubmit)="onSubmit()" >
  <h3>Login Form</h3>
     
  <mat-form-field>
    <mat-label>Enter your username</mat-label>
    <input matInput placeholder="" id="userN"  formControlName="userName" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Enter your password</mat-label>
    <input
      matInput
      [type]="hide ? 'password' : 'text'"
      id="password"
      formControlName="password"
    />
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>
  

<div class="form-group">
<button type="submit"
  mat-raised-button
  color="primary"
  (click)="gestAuth()"
  class="btnSubmit"
  [disabled]="!homeForm.valid"
>
  Connettiti
</button>
</div>


</form>
<div class="form-group">
  <a routerLink="/signUp" class="SignUp">Registrati</a>
</div>
<div class="form-group">
  <a href="/login" class="ForgetPwd">Password Dimenticata?</a>
<!-- </div> -->
<!-- <div class="alert alert-danger" role="alert" *ngIf="!auth"> -->
<!--   {{ errMsg }} -->
<!-- </div>    -->



        </div>
    </div>


  </div>
